<div class="container">
  <div class="row">
    <div class="col-md-4">
      <%= render "layouts/user_bio", :@user => @user %>
    </div>
    <div class="col-md-8">
      <div class="requests-wrapper">
        <div class="requests-header text-center">
          <h2 class="no-spacing">Open Requests</h2>
        </div>
        <% @requests.each do |request| %>
          <div class="request-summary">
            <div class="row">
              <div class="col-xs-9">
                <h3><%=request.title%></h3>
              </div>
              <div class="col-xs-3">
                <h5 class="text-right post-date">Posted on: <%=request.created_at.strftime("%m-%d-%Y")%></h5>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-8">
                <p><%=truncate(request.description, length: 200)%></p>
              </div>
              <div class="col-sm-4">
                <p>image</p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
