<div class="container">
  <h1>New Offer</h1>
  <div class="thin-border-wrapper set-in">
    <h3>Request: <%=@request.title%></h3>
    <p><%= @request.description %>
  </div>
  <%= render "layouts/new_offer_form" %>
</div>
