/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  color: #444540;
}

.navbar {
  margin-bottom: 0px;
  background-color: #097054;
  border-style: none;
}

.navbar-default .navbar-nav > li > a {
    color: #FFF;
}

.navbar-default .navbar-brand {
  color: #FFF;
}

.btn {
  padding: 5px 30px 5px 30px;
  border-radius: 30px;
  font-size: 2em;
}

.btn-green {
  background-color: #097054;
  color: #FFF;
}

.btn-blue {
  background-color: #6599FF;
  color: #FFF;
}

.btn-white {
  background-color: #FFF;
  color: #097054;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center
}

.full-width {
  width: 100%;
}

.lighter-font {
  font-weight: lighter;
}

.form-wrapper {
  margin: auto;
  width: 400px;
}

.no-spacing {
  margin: 0;
  padding: 0;
}

.thin-border-wrapper {
  border-style: solid;
  border-color: #097054;
  border-width: thin;
  border-radius: 5px;
  margin-top: 20px;
  overflow: hidden;
}

.green-wrapper {
  background-color: #097054;
  color: #FFF;
  letter-spacing: 1px;
  padding: 10px 5px 5px 5px;
  margin-bottom: 5px;
}

.grey-wrapper {
  background-color: #EEEEEE;
  padding: 5px;
  border-radius: 5px;
  margin-top: 20px;
}

.link-large {
  font-size: 2em;
}

.padding-5 {
  padding: 5px;
}

.margin-10 {
  margin: 10px;
}

.set-in {
  margin: 0px 50px 0px 50px;
  padding: 5px;
}

.b-m-5 {
  margin-bottom: 5px;
}

.inline {
  display: inline;
}

.flash {
  padding: 5px;
  width: 30%;
  margin: auto;
  font-size: 1.2em;
}

.flash-notice {
  background-color: #008542;
  color: #FFF;
}

.flash-alert {
  background-color: #C3122F;
  color: #FFF;
}

.grey-background {
  background-color: #F5F8FA;
}

.display-block {
  display: block;
}
