// Place all the styles related to the Ratings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.star-hover {
  color: #FFDF00;
}

.hover-cursor {
  cursor: pointer;
}

.star-selected {
  color: #FFDF00;
}
