// Place all the styles related to the Requests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.request-summary {
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-bottom-color: #444540;
  margin: 10px;
}

.post-date {
  padding: 20px 5px 0px 0px;
}

.summary-image {
  width: 100%;
  padding: 10px;
}

.summary-no-image {
  width: 50%;
  padding: 10px;
}

.request-user-image {
  width: 60px;
}

.white-wrapper {
  background-color: #FFF;
  border-radius: 5px;
  padding: 5px;
}
