// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bio-container {
  width: 100%;
  min-height: 275px;
  background-color: #F5F8FA;
  border-style: solid;
  border-color: #097054;
  border-width: thin;
  margin: 20px 0px 20px 0px;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.bio-top {
  width: 100%;
  height: 125px;
  margin: 0;
  background-color: #097054;
}

.bio-image {
  position: absolute;
  top: 65px;
  left: 15px;
  width: 100px;
  margin: 10px;
  border-style: solid;
  border-width: thick;
  border-color: #F5F8FA;
  border-radius: 5px;
}

.bio-name {
  margin-left: 130px;
  margin-top: 5px;
  letter-spacing: 2px;
  margin-bottom: 0px;
}

.bio-stats {
  padding: 0px 5px 0px 5px;
}

.requests-header {
  background-color: #F5F8FA;
  color: #097054;
  padding: 10px 0px 10px 0px;
}
