<div class="thin-border-wrapper padding-5 flex-container grey-background">
  <div>
    <h3>Community Rating:</h3>
  </div>
  <div>
    <h3>
      <% (0...@rating).each do |i| %>
        <span class="star-selected">&#9733</span>
      <% end %>
      <% if @rating == -1 %>
        <span class="small-text">  No Ratings Given</span>
      <% end %>
    </h3>
  </div>
</div>
