<div class="thin-border-wrapper padding-5 grey-background">
  <h3>My Open Offers</h3>
  <% @offers.each do |o| %>
    <h4><%= link_to "#{o.request.title} #{o.created_at.strftime("%m-%d-%Y")}",
            request_offer_path(o.request, o) %>
    <p class="accepted"><%= "Accepted" if o.accepted %></p>
    </h4>
  <% end %>
</div>
